h1 {
  color: rgb(103, 92, 143);
  font-size: 50px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
  font-style: italic;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  font-size: 20px;
  line-height: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ol {
  font-size: 20px;
  line-height: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}